/*
Created by Netuce | ©2017
info@netuce.com
www.netuce.com
*/
@font-face {
    font-family: 'FuturaBT';
    src: url(Futura/FuturaBTMedium.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaBT';
    src: url(Futura/FuturaBTBold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(Source_Sans_Pro/SourceSansPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}