﻿<!doctype html>
<!--
Created by Netuce | ©2017
info@netuce.com
www.netuce.com
*/
-->
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="webfonts/webfonts.css">
    <link rel="stylesheet" type="text/css" href="webfonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>Milliyet Yılın Sporcusu</title>
</head>

<body>
    <div class="ntc-page-container">
        <div class="ntc-logo-container">
            <div class="ntc-logo-main"></div>
        </div>
        <div class="ntc-content-container">
            <div class="ntc-content text active" id="ntci-welcome">
                <p class="ntc-body fixed-width">Değerli Jürimiz,</p>
                <p class="ntc-body fixed-width">Gillette-Milliyet Yılın Sporcusu Ödülleri’nde halk 3 milyondan fazla oy ile tercihlerini yaptı!</p>
                <p class="ntc-body fixed-width">Şimdi nihai sonuçlar, sizlerin son kararıyla belirleniyor.</p>
                <p class="ntc-body fixed-width">21 Mart 2017 Sali günü saat 23:59’ye kadar 7 kategorideki adaylarımız arasından size göre alanlarındaki en başarılı spor adamları/sporculara oy vererek bu prestijli ödülü kazanmalarını sağlayacaksınız!</p>
                <button ntc-f-virtual-link href='#ntci-questinary, #q1' class="ntc-button rounded-corner yellow align-center">Devam et</button>
            </div>
            <div class="ntc-content form" id="ntci-questinary">
                <form id='ntc-pull'>
                    <div class="ntc-form-question active" id='q1'>
                        <div class="ntc-form-question-title">Yılın Futbolcusu</div>
                        <div class="ntc-option-container">
                            <input class="ntc-option" type="radio" id="q1-o1" value="q1-o1" name="q1">
                            <label class="ntc-option" type="radio" for="q1-o1">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/volkanbabacan.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Volkan<br>Babacan</div>
                                    <div class="ntc-option-subtitle">Başakşehir FK</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q1-o2" value="q1-o2" name="q1">
                            <label class="ntc-option" type="radio" for="q1-o2">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/muslera.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Fernando<br>Muslera</div>
                                    <div class="ntc-option-subtitle">Galatasaray - Ziraat Türkiye Kupası & Turkcell Süper<br>Kupa Şampiyonluğu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q1-o3" value="q1-o3" name="q1">
                            <label class="ntc-option" type="radio" for="q1-o3">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/mariogomez.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Mario<br>Gomez</div>
                                    <div class="ntc-option-subtitle">Beşiktaş - Spor Toto Süper<br>Lig Gol Kralı</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q1-o4" value="q1-o4" name="q1">
                            <label class="ntc-option" type="radio" for="q1-o4">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/mehmettopal.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Mehmet<br>Topal</div>
                                    <div class="ntc-option-subtitle">Fenerbahçe</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q1-o5" value="q1-o5" name="q1">
                            <label class="ntc-option" type="radio" for="q1-o5">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/ricardoquaresma.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Ricardo<br>Quaresma</div>
                                    <div class="ntc-option-subtitle">Beşiktaş</div>
                                </div>
                            </label>
                        </div>
                        <button ntc-f-virtual-link href='#ntci-questinary, #q2' class="ntc-button rounded-corner yellow align-center" type="button">Devam et</button>
                    </div>
                    <div class="ntc-form-question" id='q2'>
                        <div class="ntc-form-question-title">Yılın Sporcusu</div>
                        <div class="ntc-option-container">
                            <input class="ntc-option" type="radio" id="q2-o1" value="q2-o1" name="q2">
                            <label class="ntc-option" type="radio" for="q2-o1">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/taha2.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Taha<br>Akgül</div>
                                    <div class="ntc-option-subtitle">RIO 2016 Güreş 125 KG Olimpiyat Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q2-o2" value="q2-o2" name="q2">
                            <label class="ntc-option" type="radio" for="q2-o2">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/cagla.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Çağla<br>Büyükakçay</div>
                                    <div class="ntc-option-subtitle">WTA Istanbul Cup 2016 Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q2-o3" value="q2-o3" name="q2">
                            <label class="ntc-option" type="radio" for="q2-o3">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/kenan.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Kenan<br>Sofuoğlu</div>
                                    <div class="ntc-option-subtitle">Supersport Dünya<br>Şampiyonu (5.Kez)</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q2-o4" value="q2-o4" name="q2">
                            <label class="ntc-option" type="radio" for="q2-o4">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/yasemincan.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Yasemin<br>Can</div>
                                    <div class="ntc-option-subtitle">Atletizm 10.000M<br>Avrupa Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q2-o5" value="q2-o5" name="q2">
                            <label class="ntc-option" type="radio" for="q2-o5">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/deryacan.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Derya<br>Can</div>
                                    <div class="ntc-option-subtitle">Değişken ağırlıklı paletli<br>dalış dünya rekoru (111M)</div>
                                </div>
                            </label>
                        </div>
                        <button ntc-f-virtual-link href='#ntci-questinary, #q3' class="ntc-button rounded-corner yellow align-center" type="button">Devam et</button>
                    </div>
                    <div class="ntc-form-question" id='q3'>
                        <div class="ntc-form-question-title">Yılın Takımı</div>
                        <div class="ntc-option-container">
                            <input class="ntc-option" type="radio" id="q3-o1" value="q3-o1" name="q3">
                            <label class="ntc-option" type="radio" for="q3-o1">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/eczacibasi.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Eczacıbaşı Vitra<br>Kadın Voleybol</div>
                                    <div class="ntc-option-subtitle">FIVB Dünya Kulüpler Şampiyonu (Üst üste 2.kez)</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q3-o2" value="q3-o2" name="q3">
                            <label class="ntc-option" type="radio" for="q3-o2">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/besiktasfutboltakimi.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Beşiktaş<br>Futbol Takımı</div>
                                    <div class="ntc-option-subtitle">Spor Toto<br>Süper Lig Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q3-o3" value="q3-o3" name="q3">
                            <label class="ntc-option" type="radio" for="q3-o3">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/fenerbahcebasketboltakimi.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Fenerbahçe Erkek Basketbol Takımı</div>
                                    <div class="ntc-option-subtitle">Spor Toto Basketbol Süper Ligi Şampiyonu & Euroleague Final Four Finalisti</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q3-o4" value="q3-o4" name="q3">
                            <label class="ntc-option" type="radio" for="q3-o4">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/okculuk.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Genç Milli Kadın Okçuluk Takımı</div>
                                    <div class="ntc-option-subtitle">Dünya Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q3-o5" value="q3-o5" name="q3">
                            <label class="ntc-option" type="radio" for="q3-o5">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/gserkekbasketboltakmi.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Galatasaray Erkek Basketbol Takımı</div>
                                    <div class="ntc-option-subtitle">ULEB Eurocup Şampiyonu</div>
                                </div>
                            </label>
                        </div>
                        <button ntc-f-virtual-link href='#ntci-questinary, #q4' class="ntc-button rounded-corner yellow align-center" type="button">Devam et</button>
                    </div>
                    <div class="ntc-form-question" id='q4'>
                        <div class="ntc-form-question-title">Yılın Çıkış Yapan Sporcusu</div>
                        <div class="ntc-option-container">
                            <input class="ntc-option" type="radio" id="q4-o1" value="q4-o1" name="q4">
                            <label class="ntc-option" type="radio" for="q4-o1">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/Aysebegumonbasi.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Ayşe Begüm<br>Onbaşı</div>
                                    <div class="ntc-option-subtitle">Aerobik Jimnastik<br>15 -17 Yaş<br>Dünya Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q4-o2" value="q4-o2" name="q4">
                            <label class="ntc-option" type="radio" for="q4-o2">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/metegazoz.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Mete<br>Gazoz</div>
                                    <div class="ntc-option-subtitle">Okçuluk -<br>RIO 2016 Katılım</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q4-o3" value="q4-o3" name="q4">
                            <label class="ntc-option" type="radio" for="q4-o3">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/tutya83.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Tutya<br>Yılmaz</div>
                                    <div class="ntc-option-subtitle">Jimnastik -<br>RIO 2016 Katılım</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q4-o4" value="q4-o4" name="q4">
                            <label class="ntc-option" type="radio" for="q4-o4">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/emremor.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Emre<br>Mor</div>
                                    <div class="ntc-option-subtitle">Borussia Dortmund<br>Oyuncusu & EURO 2016<br>Milli Takım</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q4-o5" value="q4-o5" name="q4">
                            <label class="ntc-option" type="radio" for="q4-o5">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/enesunal.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Enes<br>Ünal</div>
                                    <div class="ntc-option-subtitle">FC Twente Oyuncusu &<br>A Milli Takım'a seçilme</div>
                                </div>
                            </label>
                        </div>
                        <button ntc-f-virtual-link href='#ntci-questinary, #q5' class="ntc-button rounded-corner yellow align-center" type="button">Devam et</button>
                    </div>
                    <div class="ntc-form-question" id='q5'>
                        <div class="ntc-form-question-title">Yılın Antrenörü</div>
                        <div class="ntc-option-container">
                            <input class="ntc-option" type="radio" id="q5-o1" value="q5-o1" name="q5">
                            <label class="ntc-option" type="radio" for="q5-o1">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/senolgunes.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Şenol<br>Güneş</div>
                                    <div class="ntc-option-subtitle">Beşiktaş -<br>Spor Toto Süper Lig<br>Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q5-o2" value="q5-o2" name="q5">
                            <label class="ntc-option" type="radio" for="q5-o2">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/massimobarbolini.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Massimo<br>Barbolini</div>
                                    <div class="ntc-option-subtitle">Eczacıbaşı Vitra - FIVB<br>Dünya Kulüpler Şampiyonu (Üst üste 2.kez)</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q5-o3" value="q5-o3" name="q5">
                            <label class="ntc-option" type="radio" for="q5-o3">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/zeljkoobradovic.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Zeljko<br>Obradovic</div>
                                    <div class="ntc-option-subtitle">Fenerbahçe - Spor Toto Basketbol Süper Ligi Şampiyonu & Euroleague<br>Final Four Finalisti</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q5-o4" value="q5-o4" name="q5">
                            <label class="ntc-option" type="radio" for="q5-o4">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/erginataman.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Ergin<br>Ataman</div>
                                    <div class="ntc-option-subtitle">Galatasaray -<br>ULEB Eurocup Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q5-o5" value="q5-o5" name="q5">
                            <label class="ntc-option" type="radio" for="q5-o5">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/ekremmemnun.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Ekrem<br>Memnun</div>
                                    <div class="ntc-option-subtitle">A Milli Kadın Basketbol<br>Takımı RIO 2016 Katılımı</div>
                                </div>
                            </label>
                        </div>
                        <button ntc-f-virtual-link href='#ntci-questinary, #q6' class="ntc-button rounded-corner yellow align-center" type="button">Devam et</button>
                    </div>
                    <div class="ntc-form-question" id='q6'>
                        <div class="ntc-form-question-title">Yılın Paralimpik Sporcusu / Oyuncusu</div>
                        <div class="ntc-option-container">
                            <input class="ntc-option" type="radio" id="q6-o1" value="q6-o1" name="q6">
                            <label class="ntc-option" type="radio" for="q6-o1">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/GoalBallkadinmillitakimi.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">GoalBall<br>Kadın Milli Takımı</div>
                                    <div class="ntc-option-subtitle">RIO 2016 Paralimpik<br>Olimpiyat Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q6-o2" value="q6-o2" name="q6">
                            <label class="ntc-option" type="radio" for="q6-o2">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/nazmiyemuslu.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Nazmiye Muslu<br>Muratlı</div>
                                    <div class="ntc-option-subtitle">RIO 2016 Paralimpik Halter<br>41 KG Olimpiyat Şampiyonu</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q6-o3" value="q6-o3" name="q6">
                            <label class="ntc-option" type="radio" for="q6-o3">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/tekerleklisandalyebasketbol.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Tekerlekli Sandalye Basketbol Milli</div>
                                    <div class="ntc-option-subtitle">RIO 2016 Paralimpik<br>Basketbol Olimpiyat Dördüncüsü</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q6-o4" value="q6-o4" name="q6">
                            <label class="ntc-option" type="radio" for="q6-o4">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/Abdullahozturk.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Abdullah<br>Öztürk</div>
                                    <div class="ntc-option-subtitle">RIO 2016 Paralimpik<br>Tek Erkekler Masa Tenisi Şampiyonu &<br>Takım Bronz Madalya</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q6-o5" value="q6-o5" name="q6">
                            <label class="ntc-option" type="radio" for="q6-o5">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/kubrakorkut.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Kübra<br>Korkut</div>
                                    <div class="ntc-option-subtitle">RIO 2016 Paralimpik<br>Kadınlar Masa Tenisi<br>Gümüş Madalya</div>
                                </div>
                            </label>
                        </div>
                        <button ntc-f-virtual-link href='#ntci-questinary, #q7' class="ntc-button rounded-corner yellow align-center" type="button">Devam et</button>
                    </div>
                    <div class="ntc-form-question" id='q7'>
                        <div class="ntc-form-question-title">Yılın Spor Adamı</div>
                        <div class="ntc-option-container">
                            <input class="ntc-option" type="radio" id="q7-o1" value="q6-o1" name="q7">
                            <label class="ntc-option" type="radio" for="q7-o1">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/farukeczacibasi.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Faruk<br>Eczacıbaşı</div>
                                    <div class="ntc-option-subtitle">Eczacıbaşı Başkanı</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q7-o2" value="q6-o2" name="q7">
                            <label class="ntc-option" type="radio" for="q7-o2">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/fikretorman.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Fikret<br>Orman</div>
                                    <div class="ntc-option-subtitle">Beşiktaş Başkanı</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q7-o3" value="q6-o3" name="q7">
                            <label class="ntc-option" type="radio" for="q7-o3">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/ugurerdener.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Uğur<br>Erdener</div>
                                    <div class="ntc-option-subtitle">IOC Yönetim Kurulu'na<br>seçilme</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q7-o4" value="q6-o4" name="q7">
                            <label class="ntc-option" type="radio" for="q7-o4">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/umitleblebici.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Ümit<br>Leblebici</div>
                                    <div class="ntc-option-subtitle">TEB Genel Müdürü</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q7-o5" value="q6-o5" name="q7">
                            <label class="ntc-option" type="radio" for="q7-o5">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/kaanterzioglu.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Kaan<br>Terzioğlu</div>
                                    <div class="ntc-option-subtitle">Turkcell CEO'su</div>
                                </div>
                            </label>
                            <input class="ntc-option" type="radio" id="q7-o6" value="q6-o6" name="q7">
                            <label class="ntc-option" type="radio" for="q7-o6">
                                <div>
                                    <div class="ntc-option-image">
                                        <img src="img/photo/gokselgumusdag.jpg">
                                    </div>
                                    <div class="ntc-option-button"></div>
                                </div>
                                <div>
                                    <div class="ntc-option-title">Göksel<br>Gümüşdağ</div>
                                    <div class="ntc-option-subtitle">Başakşehir<br>Spor Kulübü Başkanı</div>
                                </div>
                            </label>
                        </div>
                        <button ntc-f-virtual-link href='#ntci-questinary, #submit' class="ntc-button rounded-corner yellow align-center" type="button">Devam et</button>
                    </div>
                    <div class="ntc-form-submit" id='submit'>
                        <p class="ntc-body align-center ntc-margin-80 ntc-phone-width-280">Tüm kategorilerde seçiminizi yaptınız.<br>Seçiminizi onaylıyorsanız aşağıdaki onay butonuna tıklayınız.</p>
                        <h2 class="ntc-heading2 align-center">Dikkat!</h2>
                        <p class="ntc-caption align-center ntc-margin-40">Onay verdikten sonra seçimlerinizi değiştirme şansınız olmayacaktır.</p>
                        <button class="ntc-button rounded-corner yellow align-center" type="submit">Onay ver</button>
                    </div>
                </form>
            </div>
            <div class="ntc-content text" id="ntci-thank-you">
                <h2 class="ntc-heading2 align-center">Sayın jürimiz,<br>oylamanız tamamlanmıştır.<br>Değerli katkılarınız için teşekkürler!</h2>
            </div>
        </div>
    </div>
    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/custom/ntc-virtual-route.js"></script>
    <script src="js/custom/ntc-app-controller.js"></script>
</body>
</html>
