/*
Created by Netuce | ©2017
info@netuce.com
www.netuce.com
*/
/*CSS Reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
    font-weight: normal;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: inherit;
}

/*CSS Reset*/

body{
    color: #fff;
    font-family:'FuturaBT', 'Futura', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ntc-heading2{
    font-size: 1.875rem;
    font-weight: 700;
}
.ntc-body{
    font-size: 1.375rem;
    font-size: 1.25rem;
    margin-bottom: 15px;
}
.ntc-body.fixed-width{
    width: 826px;
    margin-left: auto;
    margin-right: auto;
}
.ntc-caption{
    font-size: 1.375rem;
    font-weight: 700;
}
.ntc-heading2.align-center,
.ntc-body.align-center,
.ntc-caption.align-center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
button.ntc-button{
    padding: 10px 55px;
    border: 0px;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
button.ntc-button.rounded-corner{
    border-radius: 15px;
}
button.ntc-button.yellow,
.ntc-background-yellow{
    background: rgba(255,196,76,1);
    background: -moz-linear-gradient(top, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,196,76,1)), color-stop(100%, rgba(255,171,3,1)));
    background: -webkit-linear-gradient(top, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
    background: -o-linear-gradient(top, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
    background: linear-gradient(to bottom, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
    font-family:'FuturaBT', 'Futura', sans-serif;
    color: #000;
}
button.ntc-button.align-center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-right: auto;
    margin-left: auto;
}
.ntc-margin-40{
    margin-bottom: 40px;
}
.ntc-margin-80{
    margin-bottom: 80px;
}
.ntc-page-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #013357;
    background-image: url(../img/background-page-blue.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ntc-logo-container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    width: 100%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
}
.ntc-logo-main{
    width: 771px;
    height: 400px;
    background-image: url(../img/logo-gillette-milliyet.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.ntc-content-container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.ntc-content-container > *:not(.active){
    display: none;
}
.ntc-content{
    width: 970px;
}
/*
.ntc-content.form{
    -webkit-align-self: flex-start;
    align-self: flex-start;
}
*/
.ntc-content.form form > *:not(.active){
    display: none;
}
.ntc-form-question-title{
    display: inline-block;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    margin-bottom: 37px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}
.ntc-form-question-title:before{
    content: url(../img/image-title-line-left.png);
    margin-right: 10px;
}
.ntc-form-question-title:after{
    content: url(../img/image-title-line-right.png);
    margin-left: 10px;
}
.ntc-option-container{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
input.ntc-option{
    display: none;
}
label.ntc-option{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 33.3333%;
    margin-bottom: 44px;
}
label.ntc-option > div{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-right: 10px;
}
.ntc-option-image{
    width: 83px;
    height: 83px;
    border-radius: 10px;
    overflow: hidden;
}
.ntc-option-button{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 24px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.625rem;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(83,86,86,1);
    background: -moz-linear-gradient(top, rgba(83,86,86,1) 0%, rgba(44,59,68,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(83,86,86,1)), color-stop(100%, rgba(44,59,68,1)));
    background: -webkit-linear-gradient(top, rgba(83,86,86,1) 0%, rgba(44,59,68,1) 100%);
    background: -o-linear-gradient(top, rgba(83,86,86,1) 0%, rgba(44,59,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(83,86,86,1) 0%, rgba(44,59,68,1) 100%);
    background: linear-gradient(to bottom, rgba(83,86,86,1) 0%, rgba(44,59,68,1) 100%);
}
input.ntc-option:checked + label.ntc-option .ntc-option-button{
    background: rgba(255,196,76,1);
    background: -moz-linear-gradient(top, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,196,76,1)), color-stop(100%, rgba(255,171,3,1)));
    background: -webkit-linear-gradient(top, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
    background: -o-linear-gradient(top, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
    background: linear-gradient(to bottom, rgba(255,196,76,1) 0%, rgba(255,171,3,1) 100%);
}
.ntc-option-button:after{
    content: 'Oy ver';
    color: rgba(255,255,255,0.5);
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}
input.ntc-option:checked + label.ntc-option .ntc-option-button:after{
    content: '\f00c';
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
    text-shadow: 1px 1px rgba(255,255,255,0.4);
}
.ntc-option-title{
    margin-bottom: 6px;
    color: #ffaa00;
    font-size: 1.25rem;
    font-weight: 700;
}
.ntc-option-subtitle{
    max-width: 180px;
    font-family: 'Source Sans Pro';
    font-size: 0.85rem;
    line-height: 1.1rem;
}
#ntci-welcome > button.ntc-button{
    margin-top: 85px;
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .ntc-body.fixed-width{
        width: 100%;
        max-width: 570px;
        margin-right: 50px;
        margin-left: 50px;
    }
    .ntc-logo-main {
        height: 300px;
    }
    label.ntc-option {
        width: 50%;
        margin-bottom: 32px;
    }
    .ntc-option-container{
        width: 600px;
        margin-right: auto;
        margin-left: auto;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .ntc-form-question-title:before{
        content: url(../img/image-title-line-left-m.png);
    }
    .ntc-form-question-title:after{
        content: url(../img/image-title-line-right-m.png);
    }
    #q6 .ntc-form-question-title:before{
        content: url(../img/image-title-line-left-s.png);
    }
    #q6 .ntc-form-question-title:after{
        content: url(../img/image-title-line-right-s.png);
    }
}
@media only screen and (max-width: 600px){
    .ntc-heading2 {
        font-size: 1.5rem;
    }
    .ntc-caption{
        font-size: 1.125rem;
    }
    .ntc-body{
        font-size: 0.95rem;
        text-align: center;
    }
    .ntc-body.fixed-width{
        box-sizing: border-box;
        width: 100%;
        max-width: 570px;
        padding-right: 50px;
        padding-left: 50px;
    }
    button.ntc-button {
        padding: 5px 35px;
        font-size: 1rem;
    }
    .ntc-logo-main {
        height: 200px;
    }
    label.ntc-option {
        width: 50%;
        margin-bottom: 22px;
    }
    .ntc-option-container{
        box-sizing: border-box;
        width: 100%;
        padding-right: 20px;;
        padding-left: 20px;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .ntc-form-question-title:before{
        content: url(../img/image-title-line-left-s.png);
    }
    .ntc-form-question-title:after{
        content: url(../img/image-title-line-right-s.png);
    }
    #ntci-welcome > button.ntc-button {
        margin-top: 45px;
    }
    .ntc-content.form{
        overflow-x: hidden;
        width: 100vw;
    }
    .ntc-form-question-title {
        font-size: 1rem;
    }
    .ntc-option-image{
        width: 50px;
        height: 50px;
        border-radius: 7px;
        overflow: hidden;
    }
    .ntc-option-image img{
        width: 100%;
    }
    .ntc-option-button{
        width: 100%;
        height: 18px;
        border-radius: 9px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.4rem;
    }
    .ntc-option-title{
        margin-bottom: 4px;
        font-size: 0.75rem;
    }
    .ntc-option-subtitle{
        font-size: 0.5rem;
        line-height: 0.7rem;
    }
    .ntc-phone-width-280{
        width: 280px;
    }
    label.ntc-option > div {
        margin-right: 5px;
    }
    .ntc-option-title {
        font-size: 0.65rem;
    }
}
