﻿<!DOCTYPE html>
<html lang="tr" data-ng-app="ProjectN">

<head>
    <title>ProjectN</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
    <meta content="" name="description" />
    <meta content="" name="author" />


</head>

<body style="background-color: black; color: white; font-size: 5em;" ng-controller="AppController" ng-cloak>

NETUCE in the house :)<br/>
    welcome to the world :)

    <div ui-view class="page-content-wrapper ">

    </div>


</body>
</html>